@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  
    .bottom-unset {
      bottom: unset;
    }
    .top-unset{
      top: unset;
    }
    .right-unset{
      right: unset;
    }
    .left-unset{
      left: unset;
    }
    .section {
      padding: 2rem;
      padding-top: 7rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 1200px;
      min-height: 100vh;
      text-align: center;
    }

  }


@layer base {
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    width: 100%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    font-family: Whyte,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
}